/* BLACK THEME */
.text-black {
  color: white;
}

.bg-black {
  background-color: black;
}

/* BLUE THEME */
.text-blue {
  color: white;
}

.bg-blue {
  background-color: blue;
}

/* Scroll Magic Classes */
.slide-vert {
  opacity: 1;
  transform: translateY(0);
}

.slide-horiz {
  opacity: 1;
  transform: translateX(0);
}